 @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,900;1,400;1,900&display=swap');
:root {
	--background-color-dark: #1c1d1d;
	--background-color-light: #f2f1f1;
	--text-color-dark: white;
	--text-color-light: black;
	--accent-color-light: slateBlue;
	--accent-color-dark: mediumSlateBlue;
	--serif: Georgia, "Times New Roman", serif;
	--sans-serif: 'Archivo', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--background-color-dark);
		color: var(--text-color-dark);
	}
	a {
		color: var(--accent-color-dark);
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: var(--background-color-light);
		color: var(--text-color-light);
	}
	a {
		color: var(--accent-color-light);
	}
}

body {
	font-family: var(--sans-serif);
	font-size: 18px;
	line-height: 1.75;
	overflow-wrap: break-word;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 1rem;
}

h1,
h2 {
	font-family: var(--sans-serif);
	font-weight: bold;
	line-height: 1.25;
	margin-bottom: 2rem;
}

h3,
h4,
h5,
h6 {
	font-family: var(--sans-serif);
	text-transform: uppercase;
	line-height: 1;
}

iframe {
	max-width: 100%;
}

img {
	max-width: 100%;
}

hr {
	width: 25vw;
	border: solid 1px;
	margin: 4rem 0;
}

code {
	font-size: .8em;
	color: var(--accent-color);
}

footer {
	margin-top: 3rem;
}

footer>p {
	display: flex;
	justify-content: space-between;
}
