@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color-dark: #111111;
    --background-color-light: #f2f1f1;
    --secondary-background-color-dark: #333;
    --secondary-background-color-light: #d8d8d8;
    --text-color-dark: #d8d8d8;
    --text-color-light: #1e1e1e;
    --soft-text-color-dark: #999;
    --soft-text-color-light: #737373;
    --accent-color-light: slateBlue;
    --accent-color-dark: mediumSlateBlue;
    --serif: "Times New Roman", serif;
    --sans-serif: 'Archivo',system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    --text-width: 40em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
    }

    a {
        color: var(--accent-color-dark);
        text-decoration: underline;
    }

    .citation {
        color: var(--soft-text-color-dark);
    }
    button {
        background-color: transparent;
        color: var(--text-color-dark);
        border: 0.75px solid var(--secondary-background-color-dark);
        padding: 0.75em 1.5em;
        margin-top: 2rem;
        font-family: var(--serif);
        cursor: pointer;
    }
    h1 {
        background: linear-gradient(to right, #ffffff, #444444);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background-color-light);
        color: var(--text-color-light);
    }

    a {
        color: var(--accent-color-light);
        text-decoration: underline;
    }

    .citation {
        color: var(--soft-text-color-light);
    }
    button {
        background-color: transparent;
        color: var(--text-color-light);
        border: 0.75px solid var(--secondary-background-color-dark);
        padding: 0.75em 1.5em;
        margin-top: 2rem;
        font-family: var(--serif);
        cursor: pointer;
    }
    h1 {
        background: linear-gradient(to right, #111111, #bbbbbb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

body {
    font-family: var(--serif);
    font-size: clamp(17px, calc(0.25vw + 15px), 20px);
    line-height: 1.8;
    overflow-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: clamp(1em, 10vw, 12.5%);
}

@media (max-width: 800px) {
    body {
        padding-left: 1em;
        padding-right: 1em;
    }
}

main {
    max-width: var(--text-width);
}

h1 {
    margin-top: 12.5vh;
}

h1,
h2 {
    font-family: var(--sans-serif);
    font-weight: 800;
    line-height: 1.25;
    padding-top: 3rem;
    margin-bottom: 1rem;
}

h3,
h4,
h5,
h6 {
    font-family: var(--sans-serif);
    font-weight: 500;
    padding-top: 3rem;
}

iframe {
    max-width: 100%;
}

img {
    max-width: 100%;
}

hr {
    width: 25vw;
    border: solid 1px;
    margin: 4rem 0;
}

code {
    font-size: 0.8rem;
    color: var(--accent-color);
}

.updatedAt {
    padding-top: 3rem;
    font-style: italic;
}

footer {
    margin-top: 3rem;
}

footer > p {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.dateStyle {
    opacity: 0.6;
}

/* #footnote-label {
    visibility: hidden;
    position: relative;
}

#footnote-label:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Notas";
} */

.csl-entry {
    padding-bottom: 1rem;
    font-size: 0.9em;
}
.references,
.hidden {
    display: none;
}
.showRefs {
    display: block;
}
