@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--background-color-dark: #1c1d1d;
	--background-color-light: #f2f1f1;
	--text-color-dark: white;
	--text-color-light: black;
	--accent-color: indianred;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--background-color-dark);
		color: var(--text-color-dark);
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: var(--background-color-light);
		color: var(--text-color-light);
	}
}

body {
	font-family: "Cardo", serif;
	font-size: 19px;
	line-height: 1.75;
	overflow-wrap: break-word;
	max-width:620px;
	margin: 0 auto;
	padding: 0 1rem;
}

h1,h2{
	font-weight: bold;
	line-height: 1;
	margin-bottom:2rem;
}

h3,h4,h5,h6 {
	font-variant: small-caps;
	line-height:1;
}

a {
	color: var(--accent-color);
}

iframe {
    max-width: 100%;
}

img {
    max-width: 100%;
}

hr {
    width:25vw;
    border: solid 1px;
    margin: 4rem 0;
}

code {
	font-size: .8em;
	color: var(--accent-color);
}
footer {
	margin-top:3rem;
}

footer > p {
	display: flex;
	justify-content: space-between;
}