---
import { getCollection } from "astro:content";
import Archivo from "../layouts/Archivo.astro";

const allPosts = await getCollection("blog");
const collator = new Intl.Collator(undefined);

const sortedPosts = allPosts
    .sort((a, b) => collator.compare(a.data.createdAt, b.data.createdAt))
    .reverse();

function formatDate(str: string) {
    let date = new Date(str);
    return date.toLocaleString("es-MX", {
        year: "numeric",
        month: "short",
        day: "2-digit",
    });
}

function isCollection(post: any) {
    return post.data.tags.includes("Coleccion");
}
---

<Archivo title="Archivo">
    <section>
        <p class="legend">⚹ indica una colección de enlaces</p>
        <div>
            {
                sortedPosts.map((post) => (
                    <p>
                        <span class="dateStyle">
                            {formatDate(post.data.createdAt)} ·
                        </span>
                        <a href={post.slug}>{post.data.title}</a>
                        {isCollection(post) && <span class="sextile"> ⚹</span>}
                    </p>
                ))
            }
        </div>
    </section>
</Archivo>

<style>
.sextile {
    opacity: 0.6;
}
.legend {
    margin-bottom: 1rem;
    font-size: 0.85em;
    opacity: 0.7;
}
</style>
