---
const posts = await Astro.glob('./*.md');
posts.sort((a, b) => Date.parse(b.frontmatter.createdAt) - Date.parse(a.frontmatter.createdAt));
import Main from '../layouts/main.astro';
function formatDate(str: string){
	let date = new Date(str);
	return date.toLocaleString('es-MX', 
		{ year: 'numeric', month: 'long', day: 'numeric' 
	})
}
---

<Main title="sabhz">

<p>Antropología, filosofía, tecnología. <a href="credo">Esto es lo que creo</a>. Prefiero conversar donde no hay redes sociales: <a href="mailto:tacto@sabhz.com">tacto@sabhz.com</a></p>


<h2>Archivo</h2>

<div>
	{ 
		posts.map(post => 
			<p>
				<span>{ formatDate(post.frontmatter.createdAt) } -</span>
				<i><a href={post.url}> {post.frontmatter.title} </a></i>
			</p>)
	}
</div>

</Main>
