---
import "/src/styles/global.css";
import Footer from "../components/Footer.astro";
const { title, updatedAt } = Astro.props.frontmatter || Astro.props;
const footerData = [
    {
        text: "Blog",
        link: "/",
    },
    {
        text: "RSS",
        link: "rss.xml",
    },
    {
        text: "tacto@sabhz.com",
        link: "mailto:tacto@sabhz.com",
    },
];
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
    </head>

    <body>
        <article>
            <section>
                <slot />
            </section>
        </article>
        <Footer links={footerData} />
    </body>
</html>
