---
import '../styles/global.css';
const { title } = Astro.props.frontmatter || Astro.props;
const footerData = [
	{
		text: "Contacto",
		link: "tacto@sabhz.com"
	},
	{
		text: "Archivo",
		link: "/"
	}
]
---

<html lang='es'>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{ title }</title>
		<style>

		</style>
	</head>
	<body>
		<main>
			<header>
				<h1 class="title">
					<a href="/">{title}</a>
				</h1>
			</header>
			<slot />
		</main>
		<footer>
			
		</footer>
	</body>
</html>
